body {
    background-color: rgb(11, 160, 240);
    margin: 0;
}

header {
    background-image: url(quebra_cabeça.png);
    background-size: cover;
    background-position: bottom;
    padding: 35px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    border-radius: 45px;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(11, 160, 240);
}

img.icon {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 100px;
    margin: 0 40px; /* Espaço ao redor das imagens */
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 50px;
}

button {
    width: 350px;
    height: 75px;
    border-radius: 30px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    transform: scale(1.1);
    transition: transform 80.5ms;
    border: solid 3px rgb(23, 132, 190);
}

a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(11, 160, 240);
    font-weight: bold;
    padding: 40px;
}

img {
    width: 30px;
    height: 30px;
}